body {
	background: url(../images/stage.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	 -o-background-size: cover;
  	background-size: cover;
  	font-family: "Source Sans Pro", sans-serif;
  	color: #ffffff;
  	font-size: 18px;
}

#restart {
	visibility: hidden;
}

.buttonwrapper {
	width: 70px;
	margin: 0 auto;
}

#gamewrapper, #timer {
	background-color: rgba(0, 0, 0, .7);
}

#timer {
	text-align: center;
}

#timer p, #game p {
	padding: .7em 0;
}

h1, h2, h3, h4, h5 {
	font-family: "Source Sans Pro", sans-serif;
	text-align: center;
	background-color: rgba(51, 122, 183, .8);
	color: #ffffff;
	font-weight: bold;
	margin: 0 0 1.5em;
	padding: 1em 0;
	letter-spacing: .15em;
}

p, .btn {
	text-align: center;
	margin-top: 10px;
}

#game p, #timer p {
	color: #ffffff;
	font-size: 1.2em;
	letter-spacing: .15em;
}

h1  {
	font-size: 2.1em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.2em;
	letter-spacing: .15em;
}

